@model TimeViewModel

<h1>Times</h1>

<a class="btn btn-success mb-3" asp-controller="Time" asp-action="CriarTimes">Sortear Times</a>

@foreach (var time in Model.Times)
{
    <div class="card mb-4">
        <div class="card-header">
            <h3>@time.Nome</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Nota</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var jogador in time.Jogadores)
                    {
                        <tr>
                            <td>@jogador.Id</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Nota</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
